<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sunny.jungstagram.bookmark.repository.BookmarkRepository">
  
     <delete id="deleteBookmarkByPostIdAndUserId" parameterType="map">
  		DELETE FROM
  			`bookmark`
  		WHERE
  			`postId` = #{postId}
  			AND `userId` = #{userId}
  	</delete> 
  
     <delete id="deleteBookmarkByPostId" parameterType="int">
  		DELETE FROM
  			`bookmark`
  		WHERE
  			`postId` = #{postId}
  	</delete>
  	
  	<select id="selectCountBookmark" parameterType="map" resultType="int">
  	
  		SELECT
			count(1)
  		FROM
  			`bookmark`
  		WHERE
  			`postId` = #{postId}
  			AND `userId` = #{userId}
  	</select>
  	<insert id="insertBookmark" parameterType="map">
  	
		INSERT INTO
			`bookmark`
				(
					`userId`
					, `postId`
				) 	
			
			VALUE
			(
				#{userId}
				, #{postId}
			
			)
  	</insert>
  </mapper>