<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sunny.jungstagram.like.repository.LikeRepository">
	
	<select id="selectCountLikeByUserId" resultType="int" parameterType="map">
		
		SELECT
			count(1)
		FROM
			`like`
		WHERE
			`userId` = #{userId}
			AND `postId` = #{postId}
		
	</select>	
  	
  	<select id="selectCountLike" parameterType="int" resultType="int">
  		SELECT
  			count(1)
  		FROM
  			`like`
  		WHERE
  			`postId` = #{postId}
  	</select>
  	
 	<insert id="insertLike" parameterType="map">
 	
		INSERT INTO
			`like`
				(
					`userId`
					, `postId`
				) 	
			
			VALUE
			(
				#{userId}
				, #{postId}
			
			)	
 	</insert>
  
  </mapper>