@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: 0 auto;
}

header {
	height: 100px;
}

#menu-bar {
	width: 350px;
	height: 600px;
	float: left;
}

.menu-list {
	list-style: none;
	float: inline-start;
	font-size: 30px;
	padding: 15px;
}

#menu-logo {
	width: 60px;
	height: 60px;
	margin-right: 15px;
}

.logo-location {
	text-decoration: none;
	color: black;
}

.list-box {
	width: 850px;
	margin-left: 350px;

}

.reset-password {
	width: 500px;
	height: 400px;
	border: 1px solid black;
	margin-top: 150px;
}

.reset-password-info {
	width: 400px;
	height: 40px;
	margin-bottom: 15px;
	margin-left: 50px;
	
}

#passwordFindBtn {
	width: 400px;
	height: 40px;	
}

#loginIdFindBtn {
	width: 400px;
	height: 40px;	
}
.image {
	width: 320px;
	height: 500px;
	border: 1px solid black;
	margin-right: 25px;
}

#preview {
	width: 100%;
	height: 100%;
}

.input-box {
	width: 400px;
	height: 500px;
}

.join-box {
	width: 350px;
	height: 650px;
	border: 1px solid #dddddd;
	margin-top: 10px;
	margin-bottom: 15px;
}

.login-box {
	width: 350px;
	height: 400px;
	border: 1px solid #dddddd;
	margin-top: 10px;
	margin-bottom: 15px;
}

.loginId-input-box {
	width: 160px;
	height: 40px;
}

.login-input-box {
	width: 250px;
	height: 40px;
}

#loginIdDuplicateBtn {
	width: 90px;
}

#joinBtn {
	width: 250px;
}

#loginBtn {
	width: 250px;
}

.join-box-bottom {
	width: 350px;
	height: 80px;
	border: 1px solid #dddddd;
}

.picture {
	width: 300px;
	height: 600px;
	margin-left: 40px;
}


.login-box {
	width: 400px;
	height: 600px;
	margin-left: 40px;
}

.post-image-box {
	border: 1px solid black;
	padding: 10px;

}

#post-image {
	width: 500px;
}

.bi-heart{
	font-size: 30px;
}

.bi-heart-fill{
	font-size: 30px;
}

.bi-bookmark-star {
	font-size: 30px;
}

.bi-emoji-smile {
	font-size: 30px;
	margin-right: 10px;
}

footer {
	height: 100px;
}

.public-relation {
	list-style: none;
	float: left;
}

.PR-link:link {
	color: black;
}

.PR-link:hover {
	color: black;
}

.PR-link:visited {
	color: black;
}

.forgot-link {
	color: black;
}